<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title></title>
  <link rel="manifest" href="manifest.json">
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/ngCordova/dist/ng-cordova.js"></script>
  <script src="cordova.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-storage.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script>
  <script src="js/app.js"></script>
  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->
</head>
<body ng-app="starter"
      ng-controller="AppController">

<ion-nav-bar class="bar-dark" ng-controller="HomeController">
  <ion-nav-back-button></ion-nav-back-button>
  
  <ion-nav-buttons side="primary">
      <button class="button button-icon icon ion-ios-contact"
              ng-show="state.is('home') && !avatarPath"
              ng-click="chooseAvatar()">
      </button>
      <button class="button button-icon"
              ng-show="state.is('home') && avatarPath"
              ng-click="chooseAvatar()">
        <img class="avatar"
             ng-src="{{avatarPath}}"/>
      </button>
  </ion-nav-buttons>
  
  <ion-nav-buttons side="secondary">
    <span class="notification-icon-badge"
          ng-if="state.is('home')">
    </span>
    <button class="button button-icon icon ion-ios-bell notification-icon"
            ng-click="changePage('notifications')"
            ng-if="state.is('home')">
    </button>
  </ion-nav-buttons>
</ion-nav-bar>

<ion-nav-view></ion-nav-view>

<script id="home.html" type="text/ng-template">
  <ion-view>
    <ion-content class="has-header padding container">
    </ion-content>
  </ion-view>
</script>

<script id="notifications.html" type="text/ng-template">
  <ion-view view-title="Notifications">
    <ion-content class="has-header padding container">
      
      <div class="notification-card" ng-repeat="message in messages">
        <span class="notification-badge"></span>
        <span class="notification-timestamp">5 minutes ago</span>
        <span class="notification-title">{{message.title}}</span>
        <span class="notification-body">{{message.body}}</span>
      </div>
    
    </ion-content>
  </ion-view>
</script>

</body>
</html>
